/* your css code goes here */

nav {
    background: #000;
    margin: 0 auto;
    width: 700px;
}

.calendar-grid {
    margin: 0 auto;
    width: 700px;
}
.calendar-day {
    border: 1px solid #000;
    display: inline-block;
    height: 90px;
    padding: 5px;
    width: 88px;
}