<!DOCTYPE html>
<html data-ng-app="calendarDemoApp">
<head>
<title>Calendar Directive Challenge</title>
<link rel="stylesheet" type="text/css" href="./css/main.css" />
</head>
<body data-ng-controller="calendarDemo as calendar">

<nav>
    <select data-ng-model="calendar.date.month">
        <option
            data-ng-repeat="month in calendar.months"
            value="{{ $index + 1 }}"
            data-ng-selected="($index + 1) == (calendar.date.month + 1)">
            {{ month }}
        </option>
    </select>
    <select data-ng-model="calendar.date.year">
        <option
            data-ng-repeat="year in calendar.years"
            value="{{ year }}"
            data-ng-selected="year == calendar.date.year">
            {{ year }}
        </option>
    </select>
</nav>

<calendar date="calendar.calendarDate"></calendar>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
<script type="text/javascript" src="./js/utilities/calendar-range/calendarRange.js"></script>
<script type="text/javascript" src="./js/calendar-demo.min.js"></script>
</body>
</html>